h1{
    border: 3px solid;
}
body{
    background-color: rgba(55, 217, 246, 0.434);
}
.firstDiv{
    background-color: yellow;
}
.secondDiv{
    color: rgb(128, 14, 235);
}
#singleout{
    color: blueviolet;
}
#two{
    color: rgb(8, 8, 8);
    background-color: yellow;
}

.thirdDiv{
    border: 6px yellow dotted;
    background-color: blue;
}
input{
    border: burlywood solid;
}