/* cndbbbbbbbbbbbbmc*/
/*selected tag{
    property:value;
}*/
    /*.firstDiv{
        color:aqua;
    }
    .secondDiv{
        color:blue;
    }
    #singleout{
        color:rgb(212, 81, 45);
        text-decoration: line-through;
    }
    ul{
        border: 3px purple dotted;
        
    }


li a{
    color:rgb(0, 255, 98); 
}
li a[href="www.npr.org"]{
    color:rgb(98, 67, 191);
    border-width: 3px;
    border-top-style: double;
    
    


}*/
li{
    color: rgb(255, 0, 225);
}
.topitems{
    color: blue;
}
#two{
    color: brown;

    border-width: 2px;
    border-style: solid;
}